html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: black;
  margin: 0;
  padding: 0;
  line-height: 135%;
}

a {
  color: #008;
  text-decoration: none;
}

a:visited {
  color: #208;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

p, .autodoc-docstring-body {
  margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 135%;
}
a.header-anchor, a.header-link {
  color: black;
}
a.header-link {
  text-decoration: none;
}

header#pageheader, footer#pagefooter, main#pagebody {
  width: 100%;
  max-width: 768px;
  margin: auto;
  padding: 0 1rem;
}

/* header */

header#pageheader {
  text-align: center;
}

header#pageheader h1 {
  margin-top: 0.5em;
  margin-bottom: 0;
}
header#pageheader h2 {
  margin-top: 0.5em;
  font-size: 1rem;
}

#navheader {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: black;
}

/* footer */

footer#pagefooter {
  margin-bottom: 1rem;
}

nav.previous-page {
  float: left;
}

nav.next-page {
  float: right;
}

/* block-level semantic elements */

figure, .callout {
  margin: 1rem 0.5rem;
}

figure.code, .callout {
  border-radius: 3px;
  padding: 0.5rem;
}

figure.code, .callout.note {
  border: 1px solid #ddd;
  background-color: #fafafa;
}

figure pre:first-child {
  margin-top: 0;
}

figure pre:last-child {
  margin-bottom: 0;
}

pre {
  font-family: Menlo,Consolas,monaco,monospace;
}

article img {
  max-width: 100%;
}

/* inline elements */

code {
  font-family: Menlo,Consolas,monaco,monospace;
}

/* fancy things */

.autodoc-function-docstring-body, .autodoc-class-docstring-body, .autodoc-method, .autodoc-class_var {
  margin-left: 2rem;
}

.autodoc-function-docstring-body figure {
  margin-left: 0; margin-right: 0;
}

.autodoc-arguments {
  font-weight: normal;
}

.autodoc-source-link {
  /*display: block;*/
  float: right;
  font-size: 0.8rem;
  font-weight: normal;

  display: none;
}

/* hide 'src' links everywhere but in their headings */
h1 .autodoc-source-link,
h2 .autodoc-source-link,
h3 .autodoc-source-link,
h4 .autodoc-source-link,
h5 .autodoc-source-link,
h6 .autodoc-source-link {
  display: block;
}

/* notes plugin */

.callout {
  padding: 0.5rem;
}
.callout.callout-auto-prefix::before {
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}
.callout > p:first-child {
  margin-top: 0;
}
.callout > p:last-child {
  margin-bottom: 0;
}

.callout.warning {
  background-color: #fff8f8;
  border: 1px solid #faaaaa;
}
.callout.warning.callout-auto-prefix::before {
  content: "Warning";
}

.callout.note.callout-auto-prefix::before {
  content: "Note";
}
